.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 470px;
    background-image: url(https://media.istockphoto.com/id/1411847689/vector/abstract-black-background-with-neon-light-lines.jpg?s=612x612&w=0&k=20&c=pt7FvjoR38enTYy8nKGHblyeOrdCMlwlTWjDZ9dOLis=);
    background-size: cover;
}