.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 470px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/006/353/non_2x/abstract-black-and-orange-layer-geometric-background-vector.jpg);
    background-size: cover;
}